<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard:dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#query-gempabumi-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Query Gempabumi</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="query-gempabumi-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'focal:focal' %}">
                        <i class="bi bi-circle"></i><span>Focal Mechanism</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Query Parameter Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#checklist-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Checklist</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="checklist-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'checklist:toast' %}">
                        <i class="bi bi-circle"></i><span>Sirine, Toast, Diseminasi, TSP, WRS</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Checklist Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="https://inatews.bmkg.go.id/wrs/index.html">
                <i class="bi bi-person"></i>
                <span>WRS NTWC</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="https://inatews.bmkg.go.id/wrs/tsp/index.html">
                <i class="bi bi-question-circle"></i>
                <span>WRS TSP</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->
    </ul>

</aside><!-- End Sidebar-->