{% extends 'index.html' %}

{% block content %}
    <section class="section dashboard">
        <div class="row">
            <!-- Sales Card -->
            <div class="col-md-4">
                <div class="card info-card sales-card" style="height: 300px">
                    <div class="card-body">
                        <p class="card-title mt-3">Gempabumi <span>| Hari ini</span></p>
                        <hr>
                        <div class="d-flex align-items-center justify-content-center p-4 flex-column">
                            <div>
                                <h6 style="font-size: 70px">{{ today|length }}</h6>
                            </div>
                            <div>Gempabumi yang terjadi Hari ini</div>
                        </div>
                    </div>
                </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-md-4">
                <div class="card info-card revenue-card" style="height: 300px">
                    <div class="card-body">
                        <p class="card-title mt-3">Gempabumi <span>| Bulan ini</span></p>
                        <hr>
                        <div class="d-flex align-items-center justify-content-center p-4 flex-column">
                            <div>
                                <h6 style="font-size: 70px">{{ month|length }}</h6>
                            </div>
                            <div>Gempabumi yang terjadi Bulan ini</div>
                        </div>
                    </div>

                </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-md-4">
                <div class="card info-card customers-card" style="height: 300px">
                    <div class="card-body">
                        <p class="card-title mt-3">Gempabumi <span>| Tahun ini</span></p>
                        <hr>
                        <div class="d-flex align-items-center justify-content-center p-4 flex-column">
                            <div>
                                <h6 style="font-size: 70px">{{ year|length }}</h6>
                            </div>
                            <div>Gempabumi yang terjadi Tahun ini</div>
                        </div>
                    </div>
                </div>

            </div><!-- End Customers Card -->
        </div>

        <div class="row mt-3 mb-5">
            <div class="col-md-6">
                <canvas id="eq-chart1" style="max-height: 400px"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="eq-chart2" style="max-height: 400px"></canvas>
            </div>
        </div>

        <div class="row">
            <!-- Display Today Earthquakes -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title">Earthquake <span>| Today</span></h5>
                        <table class="table table-borderless datatable">
                            <thead>
                            <tr style="text-align: center">
                                <th scope="col">PublicID</th>
                                <th scope="col">OT (UTC)</th>
                                <th scope="col">Magnitude</th>
                                <th scope="col">Region</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in year %}
                                <tr>
                                    <th scope="row">{{ event.publicID }}</th>
                                    <td>{{ event.datetime|date:'Y-m-d H:i:s' }}</td>
                                    <td><span class="text-center">{{ event.magtype }} {{ event.mag }}</span>
                                    </td>
                                    <td>{{ event.remark }}</td>
                                    {% if event.status == "final" %}
                                        <td><span class="badge bg-success">{{ event.status }}</span></td>
                                    {% else %}
                                        <td><span class="badge bg-danger">{{ event.status }}</span></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Display Today Earthquakes -->
        </div>

    </section>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        {#document.addEventListener("DOMContentLoaded", () => {#}
        {#    new Chart(document.getElementById('eq-chart'), {#}
        {#        type: 'bar',#}
        {#        data: {#}
        {#            labels: [#}
        {#                {% for qs in query_set %}'{{ qs.year }}',{% endfor %}#}
        {#            ],#}
        {#            datasets: [{#}
        {#                label: 'Bar Chart',#}
        {#                data: [#}
        {#                    {% for qs in query_set %}'{{ qs.count }}',{% endfor %}#}
        {#                ],#}
        {#                backgroundColor: [#}
        {#                    'rgba(255, 99, 132, 0.2)',#}
        {#                    'rgba(255, 159, 64, 0.2)',#}
        {#                    'rgba(255, 205, 86, 0.2)',#}
        {#                    'rgba(75, 192, 192, 0.2)',#}
        {#                    'rgba(54, 162, 235, 0.2)',#}
        {#                    'rgba(153, 102, 255, 0.2)',#}
        {#                    'rgba(201, 203, 207, 0.2)'#}
        {#                ],#}
        {#                borderColor: [#}
        {#                    'rgb(255, 99, 132)',#}
        {#                    'rgb(255, 159, 64)',#}
        {#                    'rgb(255, 205, 86)',#}
        {#                    'rgb(75, 192, 192)',#}
        {#                    'rgb(54, 162, 235)',#}
        {#                    'rgb(153, 102, 255)',#}
        {#                    'rgb(201, 203, 207)'#}
        {#                ],#}
        {#                borderWidth: 1#}
        {#            }]#}
        {#        },#}
        {#        options: {#}
        {#            scales: {#}
        {#                y: {#}
        {#                    beginAtZero: true#}
        {#                }#}
        {#            }#}
        {#        }#}
        {#    });#}
        document.addEventListener("DOMContentLoaded", () => {
            new Chart(document.getElementById('eq-chart1'), {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                    datasets: [{
                        label: 'Gempabumi yang telah terjadi',
                        data: [65, 59, 80, 81, 56, 55, 40],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            new Chart(document.getElementById('eq-chart2'), {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: 'Ghost Event yang telah terjadi',
                        data: [65, 59, 80, 81, 56, 55, 40],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });

    </script>
{% endblock script %}